
  /* ------------------------------
            Services
  ------------------------------ */

// grid system//
.servicesArea {
  display: grid;
grid-template-rows: auto;
grid-gap: 1rem;
margin-top: 80px;
margin-left: 110px;
margin-right: 110px;

}


.servicesItems  {
display: grid;
grid-template-rows: auto;
grid-gap: 0.2rem;
}

.services-subarea {
display: grid;
grid-gap: 2rem;
grid-template-columns: 1fr 1fr 1fr;
}



.planArea {
display: grid;
grid-template-rows: auto;
grid-gap: 0.3rem;
}
.planArea-sub {
display: grid;
grid-gap: 2rem;
grid-template-columns: 1fr 1fr 1fr;
}
.clientsArea {
display: grid;
grid-template-rows: auto;
grid-gap: 0.3rem;
}

.clientsArea-sub {
display: grid;
grid-gap: .3rem;
grid-template-columns: repeat(6, 1fr);
}




  .service-item {
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    background-color: set-text-color($primary-color);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

            .icon {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              text-align: center;
              margin: auto;
              position: absolute;
              top: -40px;
              left: 0;
              right: 0;
              border: 8px solid #F9F9FF;

              & i {
                line-height: 60px;
                font-size: 20px;
                color: set-text-color($primary-color);
              }

              & h4 {
                color: set-text-color($primary-color);
                line-height: 60px;
              }
            }

            & h5 {
              margin-top: 50px;
              margin-bottom: 30px;
              position: relative;
              display: inline-block;
              padding: 10px 20px;

              &:after {
                position: absolute;
                content: "";
                left: auto;
                top: 0;
                width: 30px;
                height: 30px;
                border-top: 1px solid $secondary-color;
                border-right: 1px solid $secondary-color;
                right: 0;
              }

              &:before {
                position: absolute;
                content: "";
                left: 0;
                top: auto;
                width: 30px;
                height: 30px;
                bottom: 0;
                border-bottom: 1px solid $secondary-color;
                border-left: 1px solid $secondary-color;
              }
            }

            & p {
              margin-bottom: 5px;
            }

            &:hover {
              -webkit-transform: translateY(-10px);
                      transform: translateY(-10px);
              -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
                      box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            }
  } 
   
  
  
  /* clients */
  .clients-item {
    margin-bottom: 30px;
    border-radius: 20px;

    & img {
      opacity: 0.8;
    }
  }  
  
  .clients-item:hover img {
    opacity: 1;
  }
  
  /*  Pricing  */
  .pricing-item {
    text-align: center;
    padding: 30px 0px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    background-color: set-text-color($primary-color);
    z-index: 1;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 110px;
      background-color: set-text-color($primary-color);
      right: 0;
      z-index: -1;
      border-radius: 20px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom: 1px solid $secondary-color;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    }

    & h5 {
      margin-bottom: 15px;
      line-height: 1;
    }

     .content {
      position: relative;

      & ul {
        list-style-type: none;
        margin: 30px 0;

        & li {
          margin-bottom: 10px;
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }
        }
        
      }
    }

    .content .price {
      background: set-text-color($primary-color);
      width: 80px;
      height: 80px;
      margin: auto;
      border-radius: 50%;
      z-index: 2;
      border: 1px solid $secondary-color;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease;

      & h3 {
        font-weight: 700;
        line-height: 66px;
        color: $secondary-color;
        position: absolute;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;

        & span {
          font-size: 11px;
          color: $secondary-color;
          font-weight: 400;
          margin-top: 19px;
          position: absolute;
          margin-left: -41px;
        }
      }
    }
  }
  
  
  .pricing-item:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  .pricing-item:hover .price {
    background-color: $secondary-color;
  }
  
  .pricing-item:hover .price h3, .pricing-item:hover .price span {
    color: set-text-color($primary-color) !important;
  }
  